<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  body {
      background-image: url(https://i.postimg.cc/DftcpyvG/1.jpg);
    /*background-image: url('../img/img3.jpg');*/
    -webkit-background-size:cover;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
  }
  .menu-area li a {
    text-decoration: none;
  }
  
  .menu-area li {
    list-style-type: none;
  }
  
  .custom-padding{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  nav {
    position: relative;
    width: calc(100% - 60px);
    margin: 0 auto;
    padding: 10px 0;
    background: #333;
    z-index: 1;
    text-align: right;
    padding-right: 2%;
  }
  
  .logo {
    width: 15%;
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    text-align: left;
    padding-left: 2%;
  }
  
  .menu-area li {
    display: inline-block;
  }
  
  .menu-area a {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 0 25px;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    z-index: 1;
  }
  .menu-area a:hover {
    background: #6eb200;
    color: #fff;
  }
  
  .menu-area a:hover:after {
    transform: translateY(-50%) rotate(-35deg);
  }
  
  nav:before {
    position: absolute;
    content: '';
    border-top: 10px solid rgb(29, 29, 29);
    border-right: 10px solid rgb(29, 29, 29);
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 100%;
    left: 0;
  }
  
  nav:after {
    position: absolute;
    content: '';
    border-top: 10px solid rgb(29, 29, 29);
    border-left: 10px solid rgb(29, 29, 29);
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 100%;
    right: 0;
  }
  
.active{
    background-color: #6eb200;
}
/*ANIMAÇÃO DO HOVER*/
@keyframes shake {
	25% {
		transform: rotate(calc(var(--angle) * -1));
	}

	50% {
		transform: rotate(var(--angle));
	}

	100% {
		transform: rotate(0deg);
	}
}

/*body {
	font: 100 1.3em sans-serif;
	display: flex;
	flex-direction: column;
	align-content: center;
	padding: 0 5rem;
}*/

h1 {
	font-weight: 100;
}

.display {
	display: grid;
	grid-template-columns: 50% 50%;
  gap: 0.1em;
  font: 100 1.3em
}

.HOVER {
	--width: 200%;
	--time: 1.7s;

	position: relative;
	display: inline-block;
	
	border-radius: 10px 0;
  padding-left: 10px;
	color: white;
	background: #333;
	overflow: hidden;
}

.HOVER text {
	position: relative;
	z-index: 5;
	transition: color var(--time);
}

.HOVER:hover text {
	color: #111;
}

.HOVER span {
	border-radius: 100%;
	position: absolute;
	display: block;
	content: "";
	z-index: 0;
	width: 0;
	height: 0;

	background: #fff;
	transform: translate(-50%, -50%);
	transition: width var(--time), padding-top var(--time);
}

.HOVER:hover span {
	width: calc(var(--width) * 2.25);
	padding-top: calc(var(--width) * 2.25);
}

.HOVER.FLASH:hover text {
	color: white;
}

.HOVER.FLASH span {
	background: #ff3b3b;
}

.animated {
	--angle: 5deg;
	animation: shake 0.3s;
}

.link{
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 0.7em;
}

  
 

=======
.header{
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.header a{
    text-decoration: none;
    color: black;
    background: chartreuse;
}

.header{
    background: #c4c4c4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;



}

.logo{
    width: 80px;

}

.menu{
    display: flex;
}
.menu li{
    list-style: none;
    margin-left: 10px;
    margin-right: 50px;
}
>>>>>>> 683bb2d5ac9b1a219c919c23640a5eb68d9bfe17
